<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Mon profil</title>
  <link rel="stylesheet" href="stylesheets/style_header.css">
  <link rel="stylesheet" href="stylesheets/style_accueil.css">
  <link rel="stylesheet" href="stylesheets/style_profil.css">

</head>
<body>
  <header>
    <div id="logo">
      <img src="img/logo_produit.png" alt="Logo Produit" width="100px">
      <img class="padding_menu" src="img/DrivingAces.png" alt="DrivingAces" width="230px">
    </div>


    <div id="searchbar">
      <input type="search" placeholder="Rechercher sur le site..."/>
      <input id="search-btn" type="submit" value="Rechercher" />
    </div>
    <div class="help">
      <img src="img/help.png" alt="Help" width="25px">
    </div>


    <div id="espace_client">
        <nav>
          <ul>
            <li> <img class="padding_menu" src="img/account.png" alt="icone_user" width="35px">
              <ul class=menu>
                <li>Mon profil</li>
                <li>Mes tests</li>
                <li>Service client</li>
                <li>Devenir administrateur</li>
              </ul>
            </li>
          </ul>


      </nav>

    </div>

  </header>
  <section>
    <div id="photoprofil">
      <img class="photo_profil" src="img/add_a_photo.png" alt="icone_pp" width="50px">
    </div>

    <div id="tableau">
      <table>
        <tr>
          <td>Nom</td>
          <td> <img class="modif" src="img/change.png" alt="icone_modif" width="20px"> </td>
        </tr>
        <tr>
          <td>Prénom</td>
          <td> <img class="modif" src="img/change.png" alt="icone_modif" width="20px"> </td>
        </tr>
        <tr>
          <td>Date de naissance</td>
          <td> <img class="modif" src="img/change.png" alt="icone_modif" width="20px"> </td>
        </tr>
        <tr>
          <td>Sexe</td>
          <td> <img class="modif" src="img/change.png" alt="icone_modif" width="20px"> </td>
        </tr>
        <tr>
          <td>Adresse Postale</td>
          <td> <img class="modif" src="img/change.png" alt="icone_modif" width="20px"> </td>
        </tr>
        <tr>
          <td>Adresse mail</td>
          <td> <img class="modif" src="img/change.png" alt="icone_modif" width="20px"> </td>
        </tr>
        <tr>
          <td>Mot de passe</td>
          <td> <img class="modif" src="img/change.png" alt="icone_modif" width="20px"> </td>
        </tr>

      </table>
    </div>

  </section>

</body>
</html>
