<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Service Client</title>
    <link rel="stylesheet" href="stylesheets/style_header.css">
    <link rel="stylesheet" href="stylesheets/style_accueil.css">
    <link rel="stylesheet" href="stylesheets/style_service_client.css">
  </head>
  <body>
    <header>
      <div id="logo">
      <img src="img/logo_produit.png" alt="Logo Produit" width="100px">
        <img class="padding_menu" src="img/DrivingAces.png" alt="DrivingAces" width="230px">
      </div>


      <div id="searchbar">
        <input type="search" placeholder="Rechercher sur le site..."/>
      </div>
      <div class="help">
        <a href="FAQ.html"><img src="img/help.png" alt="Help" width="25px" title="Besoin d'aide ? FAQ"></a>
      </div>


      <div id="profil">
       <img class="padding_menu" src="img/account.png" alt="icone_user" width="35px">
      </div>

    </header>

    <section>
      <h2>Service client</h2>
      <form action="send_email.php" method="post">

        <p class="marge">
            <input type="text" id="nom" name="nom" placeholder="Nom *" />
            <input type="text" id="prénom" name="nom" placeholder="Prénom *"/>
            <input type="text" id="email" name="email" placeholder="Adresse mail *"/>
            <input type="text" id="sujet" name="sujet" placeholder="Objet de la demande" />
            <textarea id="message" name="message" cols="40" rows="8" placeholder="Détails de la demande"></textarea>
            <input type="submit" name="envoye" value="Envoyer" />
            <font size="2"> <p style="text-align: right"> * Champs obligatoires </p> </font>
        </p>
      </form>
    </section>
    <footer>
      <a href="GCU.html"> Conditions générales d'utilisation & Règles de confidentialités </a>
      Navajo 2019(©)
    </footer>
  </body>
</html>
