<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Mes tests</title>
  <link rel="stylesheet" href="stylesheets/style_header.css">
  <link rel="stylesheet" href="stylesheets/style_accueil.css">
  <link rel="stylesheet" href="stylesheets/style_test.css">

</head>
<body>
  <header>
    <div id="logo">
    <img src="img/logo_produit.png" alt="Logo Produit" width="100px">
      <img class="padding_menu" src="img/DrivingAces.png" alt="DrivingAces" width="230px">
    </div>


    <div id="searchbar">
      <input type="search" placeholder="Rechercher sur le site..."/>
    </div>
    <div class="help">
      <a href="FAQ.html"><img src="img/help.png" alt="Help" width="25px" title="Besoin d'aide ? FAQ"></a>
    </div>


    <div id="profil">
     <img class="padding_menu" src="img/account.png" alt="icone_user" width="35px">
    </div>

  </header>
  <section>

    <div id="tableau">
      <table>
        <tr>
          <td>Nom du spécialiste </td>
          <td>Nom du test </td>
          <td>Résultats </td>
          <td>Date </td>

          <tr>
            <td></td>
          </tr>

      </table>
    </div>

  </section>

</body>
</html>
