section{
  padding-top: 200px;
}


table {
  margin-right: 30%;
}
table,
td{
    border-collapse: collapse;
    border: 1px solid;
    height: 50px;
    width: 1000px;
}

input[type =search]{
  padding: 5px 10px 5px 10px;
  border:1px solid #1C96E8;
  border-radius:100px;
  width:180%;
  box-shadow:1px 1px 2px #C0C0C0 inset;
  outline-style: none;
}
