* {
  font-family: Verdana;
}
.header_left{
  align-items: center;
}

.padding_menu{
  padding: 10px;
}

nav ul{
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}

h3 {
  font-style: normal;
}

.align{
  align-items:center;
  display: flex;
}
