* {
  font-family: Verdana;
}


#logo{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 15%;
  padding-left: 4px;
}
.header_left{
  align-content: flex-start;
}

.padding_menu{
  padding: 10px;
}

nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header{
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: solid;
  border-color: #707070;
  border-width: 1px;
}

h3 {
  font-style: normal;
}

#espace_client{
  display: flex;
  align-items: center;
  width: 15%;
}
