* {
  font-family: Verdana;
}

.drivingaces{
  padding: 10px;
}
nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-left: 30%;
}
header{
  display: flex;
  align-items: center;
}

h3 {
  font-style: normal;
}

.right p{
  padding-left: 100px;
}
