section{
  padding-top: 50px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid;
    height: 50px;
}
table, caption {
  font-weight: bold;
  margin-bottom: 50px;
}

