body{
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.wraper{
  display: flex;
  color: #707070;
  justify-content: space-around;
}

#page_accueil{
  color: #707070;
  text-align: center;
}


#titre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#test{
  font-size: 2.5em;
  margin-bottom: 1px;
  margin-top: 50px;
}

section{
  height: 100vh;
  min-height: 600px;
  overflow: auto;
}

.bandeau{
  margin-top: 80px;
  background-color: #99D0F5;
}

.bandeau ul{
  text-align: center;
  list-style-type: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.personnage{
  height: 500px;
  flex: 2;
  width: auto;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  padding-top: 5vh;
  font-size: 2em;
}

#discover{
  width: 80%;
  padding-left: 40px;
}

p{
  padding: 10px;
  width: 80%;
  text-align: justify;
}

.nous_rejoindre{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

h3{
  padding-right: 20px;
}

.separation{
  width: 100%;
  height: 90px;
  border-color: white;
}

h1.formulaire{
  color:grey;
}


.colonne{
  margin-bottom: 5%;
  left: 0;
}

#envoyer{
  margin-left: 50%;
}

@media only screen and (max-width: 850px) {
  .bandeau ul{
    flex-direction: column;
  }

  .column_responsive{
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .wraper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .colonne{
    margin-left: 0;
  }
  .personnage{
    display: none;
  }
}
