section{
  padding-top: 7%;
}
form {
  display: block;
  margin-left: 37%;
  margin-right: 37%;
  align-content: center;
  text-align: left;
}
h1 {
  text-align: center;
  color: #00E986;
  margin: auto;
}
form label {
  display:block;
  margin-top: 10px;
  margin-bottom: 2%;
}

label, input{
  padding-top :3%;
  height: 20px;
}

label.inline {
  display: inline;
}
input {
 padding:4px;
 border:1px solid #00A6EB;
 border-radius:5px;
 width:100%;
 box-shadow:0.5px 0.5px 2px #C0C0C0 inset;
}

p a {
  color: #00A6EB;
  font-size: 12px;
}
input[type=submit]{
  max-width: 200px;
  height: 30px;
  background-color: #00A6EB;
  box-shadow:none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color:white;
}
