body{

}

#page_accueil{
  color: #707070;
  padding-top: 50px;
  text-align: center;
}

#presentation{
  max-height: 800px;
  width: 100%;
  color: #707070;
  display: flex;
  align-items: flex-end;

}

#titre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#test{
  margin-top: 100px;
  font-size: 2.5em;
  margin-bottom: 10px;
}

section{
  margin: auto;
  min-height: 600px;
}

.bandeau{
  margin-top: 80px;
  height: 180px;
  background-color: #99D0F5;
}

ul{
  text-align: center;
  list-style-type: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.personnage{
  height: 500px;
  flex: 2;
  width: auto;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2em;
}

#discover{
  width: 80%;
  padding-left: 40px;
}

p{
  justify-content: center;
  padding: 40px;
  width: 80%;
  text-align: justify;
}

.nous_rejoindre{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

h3{
  padding-right: 20px;
}

.separation{
  width: 100%;
  height: 90px;
  border-color: white;
}

h1.formulaire{
  color:grey;
}

#formulaire{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.colonne{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

#envoyer{
  margin-left: 50%;
}
