input[type =search]{
  padding: 5px 10px 5px 10px;
  border:1px solid #1C96E8;
  border-radius:100px;
  width:180%;
  box-shadow:1px 1px 2px #C0C0C0 inset;
  outline-style: none;
}

.conteneur {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
}
h1  {
  text-align: center;
  padding: 10px;
}

input {
  border-radius: 20px;
  border: 1px solid #C0C0C0;
  box-shadow:0px 1px 1px #C0C0C0 inset;
  height: 30px;
  outline-style: none;
  width: 100%;
}
p {
  text-align: center;
}
