
section{
  display: flex;
  justify-content: space-between;
}
.menu {
  width: 300px;
  height: 525px;
  background-color: #eee;
  position: absolute;
}

.menu a {
  background-color: #eee;
  color: black;
  font-weight: bold;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ccc;
}

.menu a.active {
  background-color: #1C96E8;
  color: white;
}
.conteneur {
  display: block;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

h1  {
  text-align: center;
  padding: 10px;
}

input {
  border: 1px solid #ccc;
  box-shadow:0px 0px 1px #C0C0C0 inset;
  height: 30px;
  outline-style: none;
  width: 100%;

}
p {
  text-align: center;
}
a, img {
  vertical-align: middle;
  padding: 10px;
}
table {
  margin-top: 40px;

}
table,
th,
td {
    border-collapse: collapse;
    border: 1px solid ;
    height: 50px;
}
table, caption {
  margin-bottom: 20px;
}
