/* style header */
* {
  font-family: Arial;
}
body{
  margin: 0;
}
#logo{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 15%;
  padding-left: 4px;
}
.header_left{
  align-content: flex-start;
}
.padding_menu{
  padding: 10px;
}
nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header{
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow:0px 2px 2px #C0C0C0;
}
#espace_client{
  display: flex;
  flex-direction: row;
  align-items: center;
}
h3 {
  font-style: normal;
}
#profil{
  display: flex;
  align-items: center;
  width: 10%;
}

/* style footer */

footer {
  position: absolute;
  height: 13px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow:0px -2px 2px #C0C0C0;
  font-size: 13px;
}

.right{
  display: flex;
  justify-content: right;
}

/* style header admin and user */

.profil_btn {
  padding: 10px;
  border: none;
  margin: auto;
  background: none;
  cursor: pointer;
}

.profil_admin {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.profil_content {
  display: none;
  position: absolute;
  background-color: #eee;
  width: 166px;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.profil_content a {
  color: black;
  padding: 5px 4px;
  text-decoration: none;
  display: block;
}

.profil_content a:hover {background-color: #ccc ;}

.profil_admin:hover .profil_content {display: block;}

strong {
  color: #00E986;
}
