section{
  padding-top:50px;
  display: flex;
  justify-content: space-around;

}

h3 {
  margin: 10px;
}
#mon_profil {
  padding: 30px;
  margin-left: 5%;
  margin-right: 20%;
  width: 100%;
  font-weight: bold;
  height: 390px;
  border : 2px solid;
  border-color: #1C96E8;
  box-shadow: 0px 0px 1px 1px #1C96E8;

}
#photo_profil{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: auto;
  width: 100%;
}

.information {
  margin: 4px;
  height: 50px;
  padding-left: 10px;
  border : 0.3px solid;
  border-color: #ccc;
}
.edit_btn {
  border: none;
  float: right;
  margin: auto;
  background: none;
  cursor: pointer;
  margin: 14px;

}

.photo {
  border : 2px solid;
  border-color: #1C96E8;
  box-shadow: 0px 0px 1px 1px #1C96E8;
  width: 250px;
  height: 250px;
  margin-top: 15px;
}
.photo img{
display:block;
margin-top: 55px ;
margin-left:55px;
}
