section{
  padding-top: 5%;
}
form {
  display: block;
  margin-left: 34%;
  margin-right: 34%;
  align-content: center;
  text-align: left;

}
h1 {
  text-align: center;
  color: #00E986;
  margin: auto;
}
form label {
  display:block;
  text-align: left;
	margin-top: 10px;
  margin-bottom: 2%;
}

label, input{
  padding-top :3%;
  height: 20px;

}
label.inline {
  display: inline;
}
input, textarea {
 padding:4px;
 border:1px solid #00A6EB;
 border-radius:5px;
 width:100%;
 box-shadow:0.5px 0.5px 2px #C0C0C0 inset;
 outline-style: none;
}

input[type=checkbox]{
  width:16px;
  height: 16px;
  margin:0;
  position: relative;
  vertical-align: bottom;
  box-shadow: none;
  cursor:pointer;
}
span.remarque {
  color: #1C96E8;
  font-size: 12px;
}
p a {
  color: #1C96E8;
  font-size: 12px;
}
label a {
  color: #1C96E8;
}
span.conditions {
  color: #00A6EB;
}

p.error {
    text-align: center;
    color: red;
}
input[type=submit]{
  max-width: 200px;
  height: 30px;
  background-color: #00A6EB;
  box-shadow: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: white;

}
