<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Devenir Administrateur</title>
    <link rel="stylesheet" href="stylesheets/style_Admin.css">
    <link rel="stylesheet" href="stylesheets/style_header.css">

  </head>
  <body>
    <header>
      <div id="logo" >
        <img src="img/DrivingAces.png" alt="DrivingAces" width="200">
      </div>

      <div id="searchbar">
        <input type="search" placeholder="Rechercher sur le site..."/>
      </div>

      <div id="help">
        <a href="FAQ.html"><img src="img/help.png" alt="help" width="25px" title="Besoin d'aide ? FAQ"></a>
      </div>

      <div id=profil>
        <img src="img/account.png" alt="profil">
      </div>

      <h1>Devenir Administrateur</h1>

      </div>
    </header>
  </body>
</html>
